@charset "utf-8";

.contact-form {
  dt {
    margin-bottom: 0.5em;
  }
  dd {
    margin: 0 0 1em;
  }
  input[type="text"],
  input[type="email"]{
    width: 100%;
    box-sizing: border-box;
    padding: 0.3em;
    font-size: 1.2em;
  }
  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.3em;
    font-size: 1.2em;
  }
  @media #{$tablet} {
    dt {
      width: 10em;
      clear: left;
      float: left;
    }
    dd {
      margin-left: 10em;
    }
    input[type="text"],
    input[type="email"]{
      width: auto;
      padding: 0.1em;
      font-size: 1em;
    }
    textarea {
      padding: 0.1em;
      font-size: 1em;
    }
  }
}
.submit {
  text-align: center;
  input {
    padding: 0.5em 5em;
    border: 0;
    color: #fff;
    background-color: #333;
  }
}
.screen-reader-response {
  margin: 2em 0;
  color: #c00;
}
