@charset "utf-8";

.gallery-wrap {
  margin-bottom: 60px;
}
.gallery-title {
  margin-bottom: 30px;
}
.gallery-thumbs {
  overflow: hidden;
  margin-right: -12px;
  padding: 0;
  li {
    width: 150px;
    float: left;
    list-style: none;
    margin-right: 12px;
    margin-bottom: 12px;
    a {
      display: block;
    }
    img {
      width: 100%;
      vertical-align: top;
    }
  }
}
