@charset "utf-8";

.gallery-wrap {
  margin-bottom: 60px;
}
.gallery-title {
  margin-bottom: 30px;
}
.gallery-thumbs {
  overflow: hidden;
  margin-right: -5px;
  margin-left: -5px;
  padding: 0;
  li {
    width: 33.3%;
    float: left;
    list-style: none;
    padding: 5px;
    box-sizing: border-box;
    a {
      display: block;
    }
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
  @media #{$tablet} {
    margin-right: -12px;
    li {
      width: 150px;
      margin-right: 12px;
      margin-bottom: 12px;
    }
  }
}
